<h1>{{title}}</h1>
<h3>Item</h3>
<div class="container">
<form [formGroup]="itemForm"  #formDir="ngForm" novalidate >
    <div class="form-group row">
        <label class=" control-label col-md-12 ">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="name" >
        </div>
        <label class=" control-label col-md-12 "></label>
        <div class="col-md-8">
            <label>Upload An Image (&lt; 1MB)</label><br/>
            <input class="form-control" type="file" (change)="onFileChange($event)">
            <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
        </div>
        <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>

    <div class="form-group">
        <button type="button"  [disabled]="!itemImage" class="btn btn-success" (click)="save()">Save</button>
        <button type="button" class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
    </div>
</form>
</div>
