<h1>{{title}}</h1>
<h3>Item</h3>
<div class="container">
<form [formGroup]="itemForm" (ngSubmit)="save()"  #formDir="ngForm" novalidate >
    <div class="form-group row">
        <label class=" control-label col-md-12 ">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="name" >
        </div>
        <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>

    <!-- <div class="form-group row">
        <label class="control-label col-md-12" for="quantity">Shop</label>
        <div class="col-md-4">
            <select class="form-control" type="number" formControlName="shopId" >
                <option>Select</option>
                <option  *ngFor="let shop of  (shops$ | async)" [ngValue]=shop.shopId>
                    {{shop.name}}
                </option>
            </select>
       </div>
        <span class="text-danger" *ngIf="shopId.invalid && formDir.submitted">
            Shop is required
        </span>
    </div> -->


    <div class="form-group">
        <button type="submit" class="btn btn-success ">Save</button>
        <button class="btn btn-secondary float-left"(click)="cancel()">Cancel</button>
    </div>
</form>
</div>