<br>
<br>
<br>
<h1>NewsLetter - ADMIN</h1>
<div class="container">
<form [formGroup]="mailForm" (ngSubmit)="sendEmail()"  #formDir="ngForm" novalidate >
        <div class="form-group row">
            <label class="control-label col-md-12" for="EmailAddress">EmailAddress</label>  
            <div class="col-md-4">
                
            <select  class="form-control"  formControlName="emailAddress" required >  
              <option value="">--Select--</option>  
              <option *ngFor="let email of (emails$ | async)" >  
                  {{email.emailAddress}}  
              </option>  
        </select>  
         </div>
         <span class="text-danger" *ngIf="emailAddress.invalid && formDir.submitted">
            EmailAddress is required.
        </span>
        </div>

   
    <div class="form-group row">
        <label class="control-label col-md-12" >Subject</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="subject" >
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12" >Body</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="body">
        </div>
    </div>

    
    <div class="form-group">
        <button type="submit" class="btn btn-success ">Sending</button>
    </div>
</form>
</div>