<h1>Email subscription</h1>
<div class="container">
<form [formGroup]="mailinfoForm" (ngSubmit)="save()"  #formDir="ngForm" novalidate >
    <div class="form-group row">
        <label class=" control-label col-md-12 ">EmailAddress</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="emailAddress" >
        </div>
    </div>
    
    
    <div class="form-group">
        <button type="submit" class="btn btn-success ">subscribe</button>
    </div>
</form>
</div>